:root {
  --blue: RGB(2, 40, 81);
  --white: RGB(255, 250, 250);
  --yellow: RGB(255, 194, 10);

  --bar-size: 15%;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

*{
  font-family: "aileron";
}

.Page-Container {
  background-color: var(--white);

  width: 100%;
  height: 100%;

  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;

  flex-direction: column;

  position: absolute;
}

.Main-Page-Bar {
  background-color: var(--white);

  width: 100%;
  height: var(--bar-size);

  display: grid;
  grid-template-columns: 10% 30% 12% 12% 12%;
  grid-template-rows: 100%;
  column-gap: 2%;

  align-items: center;
  justify-content: center;

  color: var(--blue)
}

.Main-Page-Bar >img{
  height: 100%;
  object-fit: contain;
}

.Main-Page-Content {
  width: 100%;
  height: 200%;

  background-color: var(--white);

  display: flex;
  flex-direction: column;

  align-items: center;

  overflow-x: hidden;
  overflow-y: hidden;
}

.Main-Page-Image {
  height: 60%;
  width: 100%;

  object-fit: fill;
}

.Main-Page-Welcome-Text-Box {
  width: 50%;
  height: 30%;

  background-color: var(--blue);
  border-radius: 20px;

  margin-top: -6%;

  margin-left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.Main-Page-Footer {
  width: 100%;
  height: 40%;

  background-color: var(--blue);
}

#Bar-Title {
  user-select: none;

  font-size: 1.5rem;
  color: var(--blue);

  padding-top: 0;
  margin-top: 0;
  height: 80%;

  align-items: center;


  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  margin-top: 10%;
}

@font-face {
  font-family: aileron;
  src: url(./aileron_0102/Aileron-Regular.otf);
}
